<form method="post">
  <div class="row mb-3">
    <div class="col-md-6 my-3">
      <div class="form-floating mb-3 mb-md-0">
        <input
          class="form-control"
          id="inputServiceName"
          type="text"
          name="ServiceName"
          placeholder="Enter your Service Name"
        />
        <label for="inputServiceName">Service Name</label>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputServiceDesc"
          type="text"
          name="ServiceDesc"
          placeholder="Enter your Service Desc"
        />
        <label for="inputServiceDesc">Service Desc</label>
      </div>
    </div>
  </div>
  <div class="mt-4 mb-0">
    <div class="d-grid">
      <button class="btn btn-primary btn-block" type="submit">
        Create Service
      </button>
    </div>
  </div>
</form>
