<% if(services.length > 0){ %>
<table id="datatablesSimple">
  <thead>
    <tr>
      <th>Service Name</th>
      <th>Service Desc</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% services.forEach(services =>{ %>
      <td><%= services.ServiceName %></td>
      <td><%= services.ServiceDesc %></td>
      <td>
        <a
          href="/admin/viewservices/delete/<%= services._id %>"
          class="btn btn-outline-danger mx-3"
          ><i class="fa-solid fa-trash"></i
        ></a>
        <a
          href="/admin/viewservices/edit/<%= services._id %>"
          class="btn btn-outline-info mx-3"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
      </td>
    </tr>
    <%})%>
  </tbody>
</table>
<% }else{%>
<h3>No Services Added</h3>
<%}%>
