<table id="datatablesSimple">
  <thead>
    <tr>
      <th>Service Name</th>
      <th>Service Desc</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% if(services.length > 0){ %> <% services.forEach(services =>{ %>
      <td><%= services.ServiceName %></td>
      <td><%= services.ServiceDesc %></td>
      <td>
        <a
          href="/viewservices/delete/<%= services._id %>"
          class="btn btn-outline-danger mx-3"
          ><i class="fa-solid fa-trash"></i
        ></a>
        <a
          href="/viewservices/edit/<%= services._id %>"
          class="btn btn-outline-info mx-3"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
      </td>
    </tr>
    <% })}else{ %>
    <tr>
      <td colspan="6"><h3>No Services Found</h3></td>
    </tr>
    <% }%>
  </tbody>
</table>
