<form method="post">
  <div class="row mb-3">
    <div class="col-md-6 my-3">
      <div class="form-floating mb-3 mb-md-0">
        <input
          class="form-control"
          id="inputOccupation"
          type="text"
          name="Occupation"
          placeholder="Enter your Occupation"
        />
        <label for="inputOccupation">Occupation</label>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputCompany"
          type="text"
          name="Company"
          placeholder="Enter your Company Name"
        />
        <label for="inputCompany">Company Name</label>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputStartYear"
          type="number"
          name="StartYear"
          placeholder="Enter your Starting Year"
        />
        <label for="inputStartYear">Starting Year</label>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputEndYear"
          type="number"
          name="EndYear"
          placeholder="Enter your Ending Year"
        />
        <label for="inputEndYear">Ending Year</label>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputDesc"
          type="text"
          name="Desc"
          placeholder="Enter your Description"
        />
        <label for="inputDesc">Description</label>
      </div>
    </div>
  </div>
  <div class="mt-4 mb-0">
    <div class="d-grid">
      <button class="btn btn-primary btn-block" type="submit">
        Add Experience
      </button>
    </div>
  </div>
</form>
