<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Core</div>
        <a class="nav-link" href="/home">
          <div class="sb-nav-link-icon">
            <i class="fas fa-tachometer-alt"></i>
          </div>
          Dashboard
        </a>
        <div class="sb-sidenav-menu-heading">Interface</div>
        <!-- Bio Data -->
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseBioData" aria-expanded="false" aria-controls="collapseBioData">
          <div class="sb-nav-link-icon">
            <i class="fas fa-columns"></i>
          </div>
          Bio Data
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div class="collapse" id="collapseBioData" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/addbiodata">Add Bio Data</a>
            <a class="nav-link" href="/viewbiodata">View Bio Data</a>
          </nav>
        </div>
        <!-- Services -->
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseServices" aria-expanded="false" aria-controls="collapseServices">
          <div class="sb-nav-link-icon">
            <i class="fas fa-columns"></i>
          </div>
          Services
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div class="collapse" id="collapseServices" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/addservices">Add Services</a>
            <a class="nav-link" href="/viewservices">View Services</a>
          </nav>
        </div>

        <!-- Experience -->
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseExperience" aria-expanded="false" aria-controls="collapseExperience">
          <div class="sb-nav-link-icon">
            <i class="fas fa-columns"></i>
          </div>
          Experience
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div class="collapse" id="collapseExperience" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/addexperience">Add Experience</a>
            <a class="nav-link" href="/viewexperience">View Experience</a>
          </nav>
        </div>
        <!-- Skills -->
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSkills" aria-expanded="false" aria-controls="collapseSkills">
          <div class="sb-nav-link-icon">
            <i class="fas fa-columns"></i>
          </div>
          Skills
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div class="collapse" id="collapseSkills" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/addskills">Add Skills</a>
            <a class="nav-link" href="/viewskills">View Skills</a>
          </nav>
        </div>
        <!-- Education -->
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseEducation" aria-expanded="false" aria-controls="collapseEducation">
          <div class="sb-nav-link-icon">
            <i class="fas fa-columns"></i>
          </div>
          Education
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div class="collapse" id="collapseEducation" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/addeducation">Add Education</a>
            <a class="nav-link" href="/vieweducation">View Education</a>
          </nav>
        </div>
        <!-- Certifications -->
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCertifications" aria-expanded="false" aria-controls="collapseCertifications">
          <div class="sb-nav-link-icon">
            <i class="fas fa-columns"></i>
          </div>
          Certifications
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div class="collapse" id="collapseCertifications" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/addcertifications">Add Certifications</a>
            <a class="nav-link" href="/viewcertifications">View Certifications</a>
          </nav>
        </div>
        <!-- Testimonials -->
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTestimonials" aria-expanded="false" aria-controls="collapseTestimonials">
          <div class="sb-nav-link-icon">
            <i class="fas fa-columns"></i>
          </div>
          Testimonials
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div class="collapse" id="collapseTestimonials" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/addtestimonials">Add Testimonials</a>
            <a class="nav-link" href="/viewtestimonials">View Testimonials</a>
          </nav>
        </div>
        <!-- Social -->
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSocial" aria-expanded="false" aria-controls="collapseSocial">
          <div class="sb-nav-link-icon">
            <i class="fas fa-columns"></i>
          </div>
          Social
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div class="collapse" id="collapseSocial" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/addsocial">Add Social</a>
            <a class="nav-link" href="/viewsocial">View Social</a>
          </nav>
        </div>
        <!--
        <a
        class="nav-link collapsed"
        href="#"
        data-bs-toggle="collapse"
        data-bs-target="#collapsePages"
        aria-expanded="false"
        aria-controls="collapsePages"
        >
        <div class="sb-nav-link-icon">
          <i class="fas fa-book-open"></i>
        </div>
        Pages
        <div class="sb-sidenav-collapse-arrow">
          <i class="fas fa-angle-down"></i>
        </div>
      </a>
      <div
      class="collapse"
      id="collapsePages"
      aria-labelledby="headingTwo"
      data-bs-parent="#sidenavAccordion"
      >
      <nav
      class="sb-sidenav-menu-nested nav accordion"
      id="sidenavAccordionPages"
      >
      <a
              class="nav-link collapsed"
              href="#"
              data-bs-toggle="collapse"
              data-bs-target="#pagesCollapseAuth"
              aria-expanded="false"
              aria-controls="pagesCollapseAuth"
            >
              Authentication
              <div class="sb-sidenav-collapse-arrow">
                <i class="fas fa-angle-down"></i>
              </div>
            </a>
            <div
              class="collapse"
              id="pagesCollapseAuth"
              aria-labelledby="headingOne"
              data-bs-parent="#sidenavAccordionPages"
              >
              <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Register</a>
                <a class="nav-link" href="/password">Forgot Password</a>
              </nav>
            </div>
            <a
            class="nav-link collapsed"
            href="#"
            data-bs-toggle="collapse"
            data-bs-target="#pagesCollapseError"
              aria-expanded="false"
              aria-controls="pagesCollapseError"
              >
              Error
              <div class="sb-sidenav-collapse-arrow">
                <i class="fas fa-angle-down"></i>
              </div>
            </a>
            <div
              class="collapse"
              id="pagesCollapseError"
              aria-labelledby="headingOne"
              data-bs-parent="#sidenavAccordionPages"
            >
            <nav class="sb-sidenav-menu-nested nav">
              <a class="nav-link" href="/401">401 Page</a>
                <a class="nav-link" href="/404">404 Page</a>
                <a class="nav-link" href="/500">500 Page</a>
              </nav>
            </div>
          </nav>
        </div>
          -->
        <!-- <div class="sb-sidenav-menu-heading">Addons</div>
          <a class="nav-link" href="/charts">
          <div class="sb-nav-link-icon">
            <i class="fas fa-chart-area"></i>
          </div>
          Charts
        </a>
        <a class="nav-link" href="/tables">
          <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
          Tables
        </a> -->
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Logged in as:</div>
      Shaikh Dev Inc.
    </div>
  </nav>
</div>