<% if(Logs.length > 0){ %>
<table id="datatablesSimple">
  <thead>
    <tr>
      <th>User Name</th>
      <th>Action</th>
      <th>Date/Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <% Logs.forEach(log =>{ %>
          <% let logdate =  log.createdAt %>
          <% let date = new Date(logdate) %>
          <% date.toString() %>
      <td><%= log.User %></td>
      <td><%= log.Action%></td>
      <td><%= date %></td>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<%}else{%>
  <h3>No User Activity Logged</h3>
<%}%>
