<section class="py-5 wow fadeInUp" data-wow-delay="0.1s" id="contact">
  <h1 class="title pb-3 mb-5">Contact Me</h1>
  <!-- <p class="mb-4">
    The contact form is currently inactive. Get a functional and working contact
    form with Ajax & PHP in a few minutes. Just copy and paste the files, add a
    little code and you're done.
    <a href="https://htmlcodex.com/contact-form">Download Now</a> -->
  </p>
  <form method="post">
    <div class="row g-3">
      <div class="col-md-6">
        <div class="form-floating">
          <input
            type="text"
            class="form-control border-0 bg-secondary"
            id="name"
            name="name"
            required
            pattern="[a-zA-Z\s]{2,}"
            placeholder="Your Name"
          />
          <label for="name">Your Name</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating">
          <input
            type="email"
            class="form-control border-0 bg-secondary"
            id="email"
            name="email"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            placeholder="Your Email"
          />
          <label for="email">Your Email</label>
        </div>
      </div>
      <div class="col-12">
        <div class="form-floating">
          <input
            type="text"
            class="form-control border-0 bg-secondary"
            id="subject"
            name="subject"
            required
            pattern="[a-zA-Z\s]{2,}"
            placeholder="Subject"
          />
          <label for="subject">Subject</label>
        </div>
      </div>
      <div class="col-12">
        <div class="form-floating">
          <textarea
            class="form-control border-0 bg-secondary"
            placeholder="Leave a message here"
            id="message"
            name="message"
            required
            style="height: 200px"
          ></textarea>
          <label for="message">Message</label>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary w-100 py-3" type="submit">
          Send Message
        </button>
      </div>
    </div>
  </form>
</section>
