<section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
  <h1 class="title pb-3 mb-5">Services</h1>
  <div class="row g-4">
    <%if(Services.length>0){%> <% Services.map(service => { %>
    <div class="col-md-6">
      <div class="service-item">
        <!-- <i class="fa fa-2x fa-laptop-code mx-auto mb-4"></i> -->
        <h5 class="mb-2"><%= service.ServiceName%></h5>
        <p class="mb-0"><%= service.ServiceDesc%></p>
      </div>
    </div>
    <% })} %>
  </div>
</section>
