<section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
  <h1 class="title pb-3 mb-5">Skills</h1>
  <div class="row">
    <%if(Skills.length>0){%> <% Skills.map(skill => { %> <% let color%>
    <%if(skill.Level <=25){ color = "danger" }else if(skill.Level <=50){ color =
    "warning" }else if(skill.Level <=75){ color = "info" }else{ color =
    "primary" }%>
    <div class="col-sm-6">
      <div class="skill mb-4">
        <div class="d-flex justify-content-between">
          <p class="mb-2"><%= skill.Name%></p>
          <p class="mb-2"><%= skill.Level%>%</p>
        </div>
        <div class="progress">
          <div
            class="progress-bar bg-<%= color%>"
            role="progressbar"
            aria-valuenow="<%= skill.Level%>"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
    </div>
    <% })} %>
  </div>
</section>
