<section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
  <h1 class="title pb-3 mb-5">Testimonial</h1>
  <div class="owl-carousel testimonial-carousel">
    <%if(Testimonials.length>0){%> <% Testimonials.map(testimonial => { %>
    <div class="text-left">
      <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
      <p class="fs-4 mb-4"><%= testimonial.Desc%></p>
      <div class="d-flex align-items-center">
        <!-- <img
          class="img-fluid"
          src="img/testimonial-1.jpg"
          style="width: 60px; height: 60px"
        /> -->
        <div class="ps-3">
          <p class="text-primary fs-5 mb-1"><%= testimonial.Name%></p>
          <i><%= testimonial.Profession%></i>
        </div>
      </div>
    </div>
    <% })} %>
    <!-- <div class="text-left">
      <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
      <p class="fs-4 mb-4">
        Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore
        et eos labore, stet justo sed est sed. Diam sed sed dolor stet accusam
        amet eirmod eos, labore diam clita
      </p>
      <div class="d-flex align-items-center">
        <img
          class="img-fluid"
          src="img/testimonial-2.jpg"
          style="width: 60px; height: 60px"
        />
        <div class="ps-3">
          <p class="text-primary fs-5 mb-1">Client Name</p>
          <i>Profession</i>
        </div>
      </div>
    </div>
    <div class="text-left">
      <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
      <p class="fs-4 mb-4">
        Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore
        et eos labore, stet justo sed est sed. Diam sed sed dolor stet accusam
        amet eirmod eos, labore diam clita
      </p>
      <div class="d-flex align-items-center">
        <img
          class="img-fluid"
          src="img/testimonial-3.jpg"
          style="width: 60px; height: 60px"
        />
        <div class="ps-3">
          <p class="text-primary fs-5 mb-1">Client Name</p>
          <i>Profession</i>
        </div>
      </div>
    </div> -->
  </div>
</section>
