<form method="post">
  <div class="row mb-3">
    <div class="col-md-6 my-3">
      <div class="form-floating mb-3 mb-md-0">
        <input
          class="form-control"
          id="inputServiceName"
          type="text"
          name="CertificationName"
          placeholder="Enter your Course Name"
        />
        <label for="inputCertificationName">Certification Name</label>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputIssuer"
          type="text"
          name="Issuer"
          placeholder="Enter your Issuer"
        />
        <label for="inputIssuer">Issuer</label>
      </div>
    </div>
    <div class="col-md-6 my-3 mt-4">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputIssueDate"
          type="date"
          name="IssueDate"
          placeholder="Enter your IssueDate"
        />
        <label for="inputIssueDate">IssueDate</label>
      </div>
    </div>
  </div>
  <div class="mt-4 mb-0">
    <div class="d-grid">
      <button class="btn btn-primary btn-block" type="submit">
        Add Certification
      </button>
    </div>
  </div>
</form>
