<%if(Biodata.length==1){%>
<h3>Bio Data Already Added</h3>

<%}else{%>
<form method="post">
  <div class="row mb-3">
    <div class="col-md-6 my-3">
      <div class="form-floating mb-3 mb-md-0">
        <input
          class="form-control"
          id="inputMyName"
          type="text"
          name="MyName"
          placeholder="Enter your Name"
        />
        <label for="inputMyName">Name</label>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputEmail"
          type="email"
          name="Email"
          placeholder="Enter your Email"
        />
        <label for="inputEmail">Email</label>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputAddress"
          type="text"
          name="Address"
          placeholder="Enter your Address"
        />
        <label for="inputAddress">Address</label>
      </div>
    </div>

    <div class="col-md-6 my-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputPhone"
          type="tel"
          name="Phone"
          placeholder="Enter your Phone"
        />
        <label for="inputPhone">Phone</label>
      </div>
    </div>

    <div class="col-md-6 my-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputDegree"
          type="text"
          name="Degree"
          placeholder="Enter your Degree"
        />
        <label for="inputDegree">Degree</label>
      </div>
    </div>

    <div class="col-md-6 my-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputBirthday"
          type="date"
          name="Birthday"
          placeholder="Enter your Birthday"
        />
        <label for="inputBirthday">Birthday</label>
      </div>
    </div>

    <div class="col-md-6 my-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputExperience"
          type="number"
          name="Experience"
          placeholder="Enter your Experience"
        />
        <label for="inputExperience">Experience</label>
      </div>
    </div>

    <!-- <div class="col-md-6 my-3">
          <div class="form-floating">
            <input
              class="form-control"
              id="InputFreelance"
              type="radio"
              name="Freelance"
              value="Available"
            />
            <label for="Inputavailable">Available</label>
          </div>
        </div> -->
    <div class="col-md-6 my-3">
      <div class="form-floating">
        <select name="Freelance" id="InputFreelance" class="form-control">
          <option value="Available">Available</option>
          <option value="Not Available">Not Available</option>
        </select>
        <label for="InputFreelance">Freelance</label>
      </div>
    </div>

    <div class="col-md-6 my-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputPosition"
          type="text"
          name="Position"
          placeholder="Enter your Position"
        />
        <label for="inputPosition">Position</label>
      </div>
    </div>

    <div class="col-md-6 my-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputAbout"
          type="text"
          name="About"
          placeholder="Enter your About"
        />
        <label for="inputAbout">About</label>
      </div>
    </div>
  </div>

  <div class="mt-4 mb-0">
    <div class="d-grid">
      <button class="btn btn-primary btn-block" type="submit">
        Add Bio Data
      </button>
    </div>
  </div>
</form>
<%}%>
