<form method="post">
  <div class="form-floating mb-3 ">
    <input class="form-control" id="inputFullName" type="text" placeholder="Enter your full name" name="FullName" />
    <label for="inputFullName">Full name</label>
  </div>
  <div class="form-floating mb-3">
    <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" name="email" />
    <label for="inputEmail">Email address</label>
  </div>
  <div class="form-floating mb-3">
    <input class="form-control" id="inputPassword" type="password" placeholder="Create a password" name="password" />
    <label for="inputPassword">Password</label>
  </div>
  <div class="mt-4 mb-0">
    <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Create Account</button></div>
  </div>
</form>