<form method="post">
  <div class="row mb-3">
    <div class="col-md-6 my-3">
      <div class="form-floating mb-3 mb-md-0">
        <input
          class="form-control"
          id="inputClientName"
          type="text"
          name="ClientName"
          placeholder="Enter your Client Name"
        />
        <label for="inputClientName">Client Name</label>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputProfession"
          type="text"
          name="Profession"
          placeholder="Enter your Client Profession"
        />
        <label for="inputProfession">Client Profession</label>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputReview"
          type="text"
          name="Review"
          placeholder="Enter your Client Review"
        />
        <label for="inputReview">Client Review</label>
      </div>
    </div>
  </div>
  <div class="mt-4 mb-0">
    <div class="d-grid">
      <button class="btn btn-primary btn-block" type="submit">
        Add Testimonials
      </button>
    </div>
  </div>
</form>
