<% if(Testimonials.length > 0){ %>
<table id="datatablesSimple">
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Client Profession</th>
      <th>Review</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% Testimonials.forEach(testimonials => { %>
      <td><%= testimonials.Name %></td>
      <td><%= testimonials.Profession %></td>
      <td><%= testimonials.Desc %></td>
      <td>
        <a href="/viewtestimonials/<%= testimonials._id %>" class="btn btn-outline-danger mx-3"><i class="fa-solid fa-trash"></i></a>
      </td>
    </tr>
    <%})%>
  </tbody>
</table>
<% }else{%>
<h3>No Testimonials Added</h3>
<%}%>