<form method="post">
  <div class="row mb-3">
    <div class="col-md-6 my-3">
      <div class="form-floating mb-3 mb-md-0">
        <input
          class="form-control"
          id="inputInstituteName"
          type="text"
          name="InstituteName"
          placeholder="Enter your Institute Name"
        />
        <label for="inputInstituteName">Institute Name</label>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputDegree"
          type="text"
          name="Degree"
          placeholder="Enter your Degree"
        />
        <label for="inputDegree">Degree</label>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputStartDate"
          type="text"
          name="StartDate"
          placeholder="Enter your Start Date"
        />
        <label for="inputStartDate">Start Year</label>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputEndDate"
          type="text"
          name="EndDate"
          placeholder="Enter your End Date"
        />
        <label for="inputEndDate">End Year</label>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputFieldofStudy"
          type="text"
          name="FieldofStudy"
          placeholder="Enter your Field of Study"
        />
        <label for="inputFieldofStudy">Field of Study</label>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputGrade"
          type="text"
          name="Grade"
          placeholder="Enter your Grade"
        />
        <label for="inputGrade">Grade</label>
      </div>
    </div>
  </div>
  <div class="mt-4 mb-0">
    <div class="d-grid">
      <button class="btn btn-primary btn-block" type="submit">
        Add Education
      </button>
    </div>
  </div>
</form>
