<form method="post">
  <div class="row mb-3">
    <div class="col-md-6 my-3">
      <div class="form-floating mb-3 mb-md-0">
        <input
          class="form-control"
          id="inputSkillName"
          type="text"
          name="SkillName"
          placeholder="Enter your Skill Name"
        />
        <label for="inputSkillName">Skill Name</label>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="inputSkillLevel"
          type="number"
          name="SkillLevel"
          placeholder="Enter your Skill Level"
        />
        <label for="inputSkillLevel">Skill Level</label>
      </div>
    </div>
  </div>
  <div class="mt-4 mb-0">
    <div class="d-grid">
      <button class="btn btn-primary btn-block" type="submit">
        Add Skills
      </button>
    </div>
  </div>
</form>
