<% if(Skills.length > 0){ %>
<table id="datatablesSimple">
  <thead>
    <tr>
      <th>Skill Name</th>
      <th>Skill Level (%)</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% Skills.forEach(skills =>{ %>
      <td><%= skills.Name %></td>
      <td><%= skills.Level %></td>
      <td>
        <a href="/admin/viewskills/<%= skills._id %>" class="btn btn-outline-danger mx-3"><i class="fa-solid fa-trash"></i></a>
      </td>
    </tr>
    <%})%>
  </tbody>
</table>
<% }else{%>
<h3>No Skills Added</h3>
<%}%>